@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;900&display=swap');

:root {
    --erro: red;
    --correto: green;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
}
